.sections-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.sections-wrapper section p {
  border-radius: 20px;
  background-color: #b7b7b7;
  padding: 20px 200px;
  text-align: center;
  font-weight: 500;
}
