.sections-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
  margin-top: 30px;
  section {
    display: flex;
    flex-direction: column;
    .section-steps {
      display: flex;
      flex-direction: column;
      span {
        display: flex;
        justify-content: center;
        background-color: #dc0362;
        color: #fff;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 700;
      }
      p {
        color: #545151;
        font-size: 16px;
        font-weight: 600;
        width: 70%;
        margin: 10px auto;
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .sections-wrapper {
    margin-top: 100px;
    section {
      .section-steps {
        flex-direction: row;
        align-items: baseline;
        gap: 20px;
        span {
          border-radius: 0 20px 20px 0;
          padding: 15px 20px 15px 70px;
          font-size: 16px;
        }
        p {
          font-size: 20px;
          margin: 0;
          text-align: unset;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .sections-wrapper {
    margin-top: 100px;
    section {
      .section-steps {
        flex-direction: row;
        align-items: baseline;
        gap: 20px;
        span {
          border-radius: 0 20px 20px 0;
          padding: 15px 20px 15px 170px;
          font-size: 18px;
        }
        p {
          font-size: 20px;
          margin: 0;
          text-align: unset;
        }
      }
    }
  }
}
