.navbar {
  background-color: #563a8e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  img {
    position: absolute;
    width: 50px;
  }
  .logo-desktop {
    display: none;
  }
  .logo-mobile {
    position: relative;
    left: 14px;
    color: #fff;
    font-weight: 400;
  }
  .logout {
    display: flex;
    gap: 10px;
    align-items: baseline;
    h3 {
      min-width: fit-content;
      color: #fff;
    }
    button {
      background-color: #563a8e;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 15px;
      width: 30%;
      margin-top: 10px;
      padding: 8px 20px;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        font-weight: 600;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    background-color: #563a8e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    img {
      position: absolute;
      width: 50px;
    }
    .logo-desktop {
      display: flex;
      position: relative;
      left: 14px;
      color: #fff;
      font-weight: 400;
    }
    .logo-mobile {
      display: none;
    }
    .logout {
      display: flex;
      gap: 10px;
      align-items: baseline;
      h3 {
        min-width: fit-content;
        color: #fff;
      }
    }
  }
}
