.login-container {
  display: flex;
  flex-direction: column;
  .informative-wrapper {
    .informative {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #563a8e;
      padding: 60px 50px;
      .informative-texts {
        h2 {
          color: #fff;
          text-decoration: underline;
        }
        p {
          color: #fff;
          font-size: 16px;
          font-weight: 700;
          width: 100%;
        }
      }
    }
  }
  .login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto 125px;
    padding: 10px;
    h1 {
      color: #545151;
    }
    .login-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
      input {
        background-color: #efefef;
        width: 100%;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 3px rgb(214, 209, 209);
        padding: 12px;
        &:focus {
          outline: none;
          text-decoration: underline;
        }
      }
      button {
        background-color: #563a8e;
        color: #fff;
        width: 50%;
        height: auto;
        margin: 20px auto 0;
        padding: 5px 12px;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 3px #efefef;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          background-color: #dc0362;
        }
      }
    }
  }
}
.footer {
  background: #f7f7f7;
  color: #545151;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 30px;
  .footer-credits {
    display: flex;
    flex-direction: column;
    gap: 10px;
    a {
      color: #545151;
      font-weight: 600;
    }
  }
  .footer-logo {
    display: flex;
    align-items: center;
    img {
      width: 30px;
    }
    h3 {
      position: relative;
      right: 11%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .login-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 50px;
    // height: 100vh;
    .informative-wrapper {
      display: flex;
      flex-direction: column;
      .informative {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        background-color: #fff;
        padding: 0;
        margin-top: 15%;
        .informative-texts {
          margin: 21.7% 0 10% 15%;
          h2 {
            color: #dc0362;
          }
          p {
            color: #545151;
            width: 60%;
            margin: 0;
            font-size: 18px;
          }
        }
      }
    }
    .login-wrapper {
      margin: 0 auto;
      padding: 0;
    }
  }
  .footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 15px 30px;
    .footer-credits {
      flex-direction: row;
    }
  }
}
