.trends-list {
  display: flex;
  flex-direction: column;
  .topic {
    color: #545151;
    padding: 10px;
    border-bottom: 1px solid #c4c4c4;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      font-weight: 700;
    }
  }
}
